<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <div th:replace="fragments/structure :: head"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/about.css}">
    <title>About</title>
</head>
<body>
<div class="grid-container">
    <div th:insert="fragments/structure :: menu"></div>
    <div class="all-content-container">
    <div class="container-form">
        <div class="row centered-form">
            <div class="panel panel-default form-size">
                <div class="panel-body">


                </div>
            </div>
        </div>
    </div>
</div>
    <div th:replace="fragments/structure :: footer"></div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</body>
</html>
