.all-content-container {
    height: calc(100vh - 170px);
    min-height: 500px;
    grid-area: content;
    background-image: url(../images/backgrounds/user-settings-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.form-size{
    width: 500px;
    padding: 25px 30px 25px 30px;
}

.all-form-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 500px;
}

.action-btn{
    padding: .675rem .95rem;
}

.card-body {
    padding: 3px;
}

.card{
    min-width: 800px;
}

.content-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=checkbox] {
    transform: scale(2);
}

form label {
    font-size: 2em;
}

.form-check {
    display: flex;
    align-items: center;
}
